[2021-10-26 14:00] carlomigueldy opened #2 "Use supabase"
It would be a great idea to use Supabase for off-chain data store, I can help with designing or coming up with a database schema.

[2021-11-04 05:24] Dhaiwat10 opened #4 "Web3 auth w/ supabase instead of email/pass"

[2021-11-04 12:01] carlomigueldy opened #5 "Add hardcoded fake/placeholder data to DB"

[2021-11-04 12:02] carlomigueldy commented on #5
How do I assign myself @Dhaiwat10

[2021-11-04 12:03] carlomigueldy opened #6 "Create hooks relevant to fetching data from DB"

[2021-11-04 12:03] carlomigueldy opened #7 "Setup Supabase in App"

[2021-11-04 12:04] carlomigueldy commented on #5
Thanks @Dhaiwat10

[2021-11-04 12:05] Dhaiwat10 commented on #5
Added you to the repo so you can assign yourself in the future

[2021-11-04 12:05] carlomigueldy commented on #5
Thanks again! 🎉 @Dhaiwat10

[2021-11-04 12:06] carlomigueldy opened #8 "Vercel Integration"

[2021-11-04 12:17] Dhaiwat10 commented on #8
@with-heart would it be fine if we created a project on Vercel in the Developerdao team account?

[2021-11-04 12:44] Dhaiwat10 commented on #8
Live at https://dao-job-board.vercel.app/

[2021-11-04 12:44] #8 closed

[2021-11-04 13:51] angeljgomezc opened #9 "Add Forms for Jobs, Gigs, and Profile Creation"

[2021-11-04 13:52] angeljgomezc opened #10 "Build Hamburger Menu for Mobile (Navbar Responsiveness)"

[2021-11-04 22:56] carlomigueldy commented on #7
PR created https://github.com/Developer-DAO/DAO-job-board/pull/11

[2021-11-04 22:56] carlomigueldy commented on #9
I suggest that you use this https://react-hook-form.com/

[2021-11-05 08:21] carlomigueldy opened #13 "Add Role Level Security (RLS)"
It's pretty much a trivial task for now, but we'll add it later on.

Feel free to list down any particular rules if you can think of anything in the comments.

I'll start with a few in mind:
- [ ] Only allow updates/edits on gigs for any User that created it
- [ ] Prevent updates/edits on any data that they did not create
- [ ] Only allow reads on job applications or gig applications to those who

[2021-11-05 17:39] angeljgomezc opened #14 "Small Database Change"
@carlomigueldy Hey mate! I've been thinking of changing the wording in database from `category` and instead use `keyword`.

This way it's easier to map users, jobs, and gigs.

What do you think?

[2021-11-05 17:41] angeljgomezc commented on #9
Found this too late mate :(

Already built the forms from scratch but thank you (I tried to make them as fitting for the Jobs/Gigs as necessary)

Will check this further and see if it saves me time with the Dev and Company profile forms (already half-way through so let's see)

[2021-11-05 17:42] angeljgomezc commented on #9
Forms for Post Job and Post Gig already working on production link:

Gig = https://job-board-sage.vercel.app/post-gig

Post = https://job-board-sage.vercel.app/post-job

@carlomigueldy @Dhaiwat10

Check and let me know what you guys think :)

[2021-11-05 23:07] carlomigueldy commented on #14
It's throwing a 404 error @angeljgomezc , can you create a draft pull request in this repo instead so we can take look when Vercel creates a build for it?

[2021-11-05 23:45] carlomigueldy commented on #14
@angeljgomezc  Wouldn't it still be the same if we're only just changing how it's spelled?

[2021-11-05 23:46] carlomigueldy commented on #9
Btw can you create a pull request in this repo, we can't view it with that link. Seems to be broken @angeljgomezc

[2021-11-06 00:13] angeljgomezc commented on #14
yes! It's pretty much the same. My point was - which one feels more fitting? Keywords seems more general as people can map *anything* to their jobs/profiles (e.g. Polywork's badges) while categories sort of refers to job-related stuff which may limit what people can map to their profiles/jobs/gigs

Or do you think categories fits better?

[2021-11-06 00:15] angeljgomezc commented on #9
Links updated! I deleted the previous deployment as it was on the wrong account

[2021-11-06 00:17] angeljgomezc commented on #4
maybe useful: https://www.toptal.com/ethereum/one-click-login-flows-a-metamask-tutorial

[2021-11-06 00:39] carlomigueldy commented on #14
I see that makes sense. Yeah it's important to have a better name to that. Let's go with keywords!

Categories is maybe too generic or broad? Also last night I was able to browse those job portals that was linked into the Discourse discussion about the DAO Job Board.

Do we also limit the amount of keywords they can add up into their profile, job posting or gig posting?

[2021-11-06 00:41] carlomigueldy commented on #14
Also for the current design in the database, it's going to allow us to have auto-completes like the one when we add keywords/categories before we get to publish a blog in [dev.to](http://dev.to/) and yeah lots of filter by keywords, or see all jobs with keyword "XYZ", or we can have a widget count that says there's N jobs for this keyword, and anything we can think of.

[2021-11-06 01:48] #2 closed

[2021-11-08 01:56] angeljgomezc opened #18 "Develop + design Job Page"
- [x] **Job**

Every job page should hold basic info about the job (title, description, job type, position, keywords, company's link with logo, location, compensation, etc.). Plus, it should have a final button people can click to apply (either via email/ or company's website).

**NOTE**: Every job post page should be on the link = `devdaojobboard.com/jobs/companyname/job-title-with-dashes`

[2021-11-08 01:56] angeljgomezc opened #19 "Company's Profile"
The company profile will hold basic data about a company or startup. This data should also include links to relevant company websites if necessary. It should also have a logo and a brief description.

NOTE: Companies/startups should be on the link  = devdaojobboard.com/companies/[companyname]

[2021-11-08 12:49] angeljgomezc opened #20 "Migrate Components to Chakra UI"
Chakra saves time and effort as it comes with tons of functionality + a11y that I may otherwise come up with myself

Will try to migrate everything within 2 days

[2021-11-08 13:38] with-heart commented on #20
Happy to help with this! Interested in pairing in public on the D_D Discord?

[2021-11-08 13:49] angeljgomezc commented on #20
That sounds like a great idea! When are you available?

[2021-11-08 16:31] with-heart commented on #20
I created a lettucemeet so we can figure out a time: https://lettucemeet.com/l/7xqaj

If anyone else wants to join us, feel free to add times! cc @Dhaiwat10 @carlomigueldy

[2021-11-08 18:26] Dhaiwat10 commented on #20
Added my availability @with-heart

cc @nazeeh21 @angeljgomezc

[2021-11-08 19:09] Nazeeh21 commented on #20
Added my availability too!

Cc @miralsuthar

[2021-11-08 22:00] carlomigueldy commented on #20
Done added mine!

[2021-11-08 23:38] #7 closed

[2021-11-09 02:19] angeljgomezc commented on #20
Looks like Wednesday, Thursday, and Friday from 12 PM to 1 PM works for most of us. If so, I can update Carlo later on (unless someone wants to make the call at a different time?)

[2021-11-09 05:27] Dhaiwat10 commented on #20
in which timezone?

[2021-11-10 00:43] with-heart commented on #20
I scheduled it Friday in the chunk that almost all of us have in common. You can see it on lettucemeet!

[2021-11-10 00:49] carlomigueldy commented on #20
Perfect! I was also thinking to suggest we'd do it on Friday. Thanks @with-heart

[2021-11-10 01:24] with-heart commented on #20
@carlomigueldy I wish you could be there :( Another time!

[2021-11-10 02:12] carlomigueldy commented on #20
Just fits nicely! @with-heart I can stay up for that moment.

![image](https://user-images.githubusercontent.com/45052332/141036949-229c82a0-6570-4324-a67b-3cfbe7772e15.png)

[2021-11-10 09:47] miralsuthar commented on #18
hey, @angeljgomezc I can try to make both designs in Figma and if you approve can convert it to code.

[2021-11-10 12:14] angeljgomezc commented on #18
Awesome! Yes, that would be great!

Btw, try to follow the design of similar pages like [CryptoCurrencyJobs](https://cryptocurrencyjobs.co/startups/civic/) for company profiles and [Gitcoin Bounties](https://gitcoin.co/issue/harvest-finance/harvest/27/100027042) for Gigs.

That's what I had in mind. Of course, it would be great if you also follow a unique approach.

Lastly, I'm migrating everythin

[2021-11-10 12:26] angeljgomezc commented on #18
What each Gig page should contain:

- Name (e.g. Need help with NFT collection...)
- Description
- Category (a set of tags like [this](https://imgur.com/a/Gfx86pf))
- Reward and amount (e.g. 1 ETH or 0.05 BTC)
- Timeframe (0-30 days up to +12 Months)

What each Job page should contain:

- Post Title (e.g. Blockchain Engineer)
- Description
- Job Type (e.g. Part Time, Full Time, etc.)
- Job Positio

[2021-11-10 12:39] angeljgomezc commented on #20
Awesome to know you can be there mate! Let's do it on Friday then :)

[2021-11-10 13:25] carlomigueldy commented on #20
Heck yes! @angeljgomezc

See you all on Friday! 🎉

[2021-11-11 22:42] #14 closed

[2021-11-12 12:50] miralsuthar commented on #18
Hey, @angeljgomezc just finished with the design this is the Figma [link](https://www.figma.com/file/paI9rYA1rje3cDxKpomxWC/DAO-job-board?node-id=0%3A1) of the design and for the quick look this is the image, the left one is for the gig and the right one is for job

![image](https://user-images.githubusercontent.com/57826091/141469764-79ff08ee-d14b-4f35-8a96-301945f865c3.png)
Let me if you need ch

[2021-11-12 13:05] angeljgomezc commented on #18
This looks good mate! Thanks!

Will hit you back in a few hours with feedback but seems perfect so far

[2021-11-12 16:57] miralsuthar commented on #10
I can work on this issue

[2021-11-12 18:45] angeljgomezc commented on #10
Awesome! You're assigned :)!

[2021-11-12 19:42] angeljgomezc commented on #9
Finished the front-end for the forms

Create-Profile Form = https://dao-job-board-murex.vercel.app/create-profile
Create Job Post Form= https://dao-job-board-murex.vercel.app/post-job
Create Gig Post Form = https://dao-job-board-murex.vercel.app/post-gig

@with-heart @carlomigueldy

Would love at least a bit of feedback on them. They're pretty rudimentary still

[2021-11-12 21:43] swetshaw commented on #9
That's a very neat UI @angeljgomezc .
One feedback for post-job page:
Shouldn't we have a dedicated field to collect salary information from the company? That will be one of the main points of interest for anyone looking for a job? What do you think?

[2021-11-12 21:47] swetshaw commented on #19
It can also contain a list of available jobs in that company.

[2021-11-12 21:50] swetshaw commented on #19
Can I take up this issue?
I see this issue need two tasks to be done

- Page design for company profile
- Convert design to code

Is there's anything else that needs to be done?

[2021-11-12 23:00] angeljgomezc commented on #9
Hey @swetshaw! Indeed, salary information is essential. The Job-Post form already has a `Compensation` section in the `Job Details` page (if that's what you're referring to). Compensation is pretty much the salary + whatever the company wants to pay as an extra (bonuses, etc.)

[2021-11-12 23:04] angeljgomezc commented on #19
Yes @swetshaw! That would be great! You can start by designing the profile on Figma and dropping it here. We will review your design and let you know if you should proceed.

A few company pages from job boards you could use as inspiration:

- [CryptocurrencyJobs](https://cryptocurrencyjobs.co/startups/toucan-protocol/)
- [Pomp Crypto Jobs](https://pompcryptojobs.com/company/1150/kraken/)
- [GetOnB

[2021-11-13 01:25] angeljgomezc commented on #18
So I went over the design and have some feedback about the Gig page:

1. The "Experience" tab in the gig page is probably not the best idea. While it's helpful, it may also discourage people from applying to gigs because they don't feel like "Expert" yet. Also, most people creating gigs will prefer adding `Expert` in the forms so most gigs will be expert-only (which will probably leave a lot of pe

[2021-11-13 06:03] miralsuthar commented on #18
yeah, I completely agree with the points that you have pointed out like sometimes I never feel like an "Expert" whenever that tab appears 😄.

But about adding the colors to the site according to me wouldn't look nice because I have taken the main developer dao website as a reference for the color and adding the color would feel like the colors are added forcefully still I try adding the colors and

[2021-11-13 06:29] miralsuthar commented on #10
hey, can you tell when will be the chakra-UI will be implemented in the main branch so I can use the chakra-UI component for the responsiveness?

[2021-11-13 07:06] swetshaw commented on #19
Thanks @angeljgomezc , I am on it :)

[2021-11-13 07:45] swetshaw opened #24 "Add form for Company profile creation"
This form is required to onboard the companies who want to post job openings on Developer DAO.
A few points that are in my mind right now are:

- Name of company
- Brief detail
- Year of founding
- Industry (finance, games, healthcare, NFT, etc)
- Company Size
- Website
- Twitter
- LinkedIn

[2021-11-13 11:56] angeljgomezc commented on #10
Should be up in a few hours, so later today :)

[2021-11-13 14:07] swetshaw commented on #19
Hi @angeljgomezc , keeping in mind the overall theme and color palette of the developer DAO website, I have come up with the design for the company profile, please have a look [here](https://www.figma.com/file/hqg2FnQCLzZBBfyeYAz23t/D_D-company-profile?node-id=1%3A3).

Looking forward to your feedback 😃

[2021-11-13 19:26] G3root opened #25 "Proposal: using prisma for database query."
Some of the advantages using prisma with supabase other than `@supabase/supabase-js
`

- **type safety** - prisma generates types for every model based on the schema.
- **schema migrations** - ability to version control  schema migrations
- **awesome DX** - provides auto completion out of the box.
- supports connection pooling for pgbouncer.
- easy database setup for local development .
- has an A

[2021-11-13 23:51] dizthewize commented on #6
@carlomigueldy If you need any assistance with this feel free to reach out to me

[2021-11-13 23:56] #20 closed

[2021-11-14 00:00] angeljgomezc commented on #24
YES! The list of data you added is exactly what we need for each company's page.

If you want to take this issue, let me know.

Otherwise, I'll start working on it tomorrow and drop a design here before coding :)

[2021-11-14 00:01] angeljgomezc commented on #25
Hey @G3root! Thanks for the recommendation.

@carlomigueldy is handling the back-end right now. We're still finishing the front-end before we start with database queries.

What do you think of this idea @carlomigueldy?

[2021-11-14 00:02] carlomigueldy commented on #25
Wow. This is great suggestion.

I've actually been thinking of how I do this same how it works for Laravel's `php artisan db:seed`. I think adding Prisma will be very convenient.

Thank you so much for the suggestion let's add this @G3root !

[2021-11-14 00:16] angeljgomezc opened #26 "Build Application Form for Gigs"
Every gig in the website will need a way for devs to apply.

WHAT ARE GIGS?

They are tiny freelance projects for devs to tackle. This could be anything as simple as centering a div to slightly more difficult things like designing a landing page from scratch or connecting a smart contract to a front-end.

WHY AN APPLICATION FORM?

Because gigs will be internal between people/companies starting the

[2021-11-14 04:13] swetshaw commented on #19
Hi @angeljgomezc , I have a few things on my mind regarding the Developer DAO website and the company profile page, can we connect over discord anytime to discuss it? It would help in taking the next steps

[2021-11-14 04:18] swetshaw commented on #24
I am already working on creating company profile page #19 . So you can take up this issue. 😃

[2021-11-14 06:06] G3root commented on #25
That's great , I'll send a draft PR today so we can figure out anything odd. 🎉

[2021-11-14 11:30] carlomigueldy commented on #6
Thank you @dizthewize , we had our conversation from Discord DMs!

For context to other people chiming into the project, I have create a generic hook then we can use that for making queries, etc. The hook's name is `useSupabase` where it takes a generic type argument, typically it's a data model that we'll pass into it.

It's in this PR https://github.com/Developer-DAO/DAO-job-board/pull/22 so you

[2021-11-14 11:30] #6 closed

[2021-11-14 11:31] carlomigueldy commented on #25
Let's gooooo @G3root :)

[2021-11-14 12:07] angeljgomezc commented on #19
Hey @swetshaw! This looks really cool! Yes, we can proceed with this one. Just remember to use Chakra UI for the development.

[2021-11-14 12:08] angeljgomezc commented on #19
Great! Hit me up whenever, I'm angelg on Discord :)

[2021-11-14 12:16] JoviDeCroock commented on #26
Hey,

I assume we'll need a details-view for the `gig` and allow for an authenticated user to create a `gig_application` there?

I would be up to tackle this if no one else is, we'd probably need an additional field in the database apart from `pitch` (WHY) and `content` (WORK PLAN - we could rename that to plan)  we'll probably need something like skills (PROOF) or do we derive this from the  `use

[2021-11-14 12:35] subject026 commented on #26
Hey i'm keen to get stuck in too.

Is there a figma file or anything similar for this project?

[2021-11-14 14:06] carlomigueldy opened #27 "Create a Doppler workspace"
As per suggestion/recommendation from @JoviDeCrook this will be a great tool for distributing environmental variables :)

I am going to set it up soon and allow it to easily distribute to other devs that'll join into the project

[Doppler](doppler.com)

[2021-11-14 14:07] carlomigueldy opened #28 "GitHub Actions CI/CD Setup"
If someone finds it fun setting it up and writing some tests for the website, that would be cool to have it in the repo

[2021-11-14 14:08] carlomigueldy opened #29 "Yarn Workspace"
To setup the repo utilizing Yarn Workspace

[2021-11-14 14:35] angeljgomezc commented on #26
Yes! We can come up with the back-end change later. So far I'm thinking of building it the front end first following a similar approach to what I'm talking about above - but you're free to share some ideas :)

Would be great if we had a Figma file of how you intend to do this.

As for the form itself, having a separate component that pops up seems like a great idea. But an input form below the Gig

[2021-11-14 14:38] angeljgomezc commented on #26
We still don't have a Figma file apart from the original DeveloperDao.com website files (we're basing the design on that)

The design system is something we'll need to work on soon, so everyone is on the same page about designing and developing.

Also, we'll probably redesigning almost everything once the MVP is launched (right now we're focusing on the basics)

[2021-11-14 15:18] #29 closed

[2021-11-14 17:13] JoviDeCroock commented on #26
Haven't really used Figma yet but I'll do an attempt at creating a mockup for the application form! Thanks for the assigning

[2021-11-14 21:18] carlomigueldy commented on #27
<img width="1395" alt="Screen Shot 2021-11-15 at 5 16 53 AM" src="https://user-images.githubusercontent.com/45052332/141698964-fb234642-36da-4a7f-bcbc-794629bb3887.png">

Submitted a request to add Doppler integration into this project :)

Hi guys can I get it approved @with-heart @Dhaiwat10

[2021-11-14 22:02] with-heart commented on #27
Approved for this project only! Is there anything special we need to do to configure this or make it work with Vercel?

[2021-11-14 22:07] carlomigueldy commented on #27
Thank you @with-heart !

I am not sure about it yet how it would work with Vercel, but I am going to explore things out!

Though @JoviDeCroock is more experienced for Doppler

[2021-11-14 22:07] JoviDeCroock commented on #27
There is a Vercel integration that can be leveraged which is found on the [vercel marketplace](https://vercel.com/integrations/doppler)

[2021-11-14 22:09] carlomigueldy commented on #27
@with-heart I think someone who have access to Vercel can set it up https://www.doppler.com/integrations/vercel

[2021-11-14 22:12] carlomigueldy commented on #27
I need to invite some people into the Doppler workspace, can I invite you guys?

@with-heart @Dhaiwat10 @angeljgomezc @JoviDeCroock

Also if anyone else might be interested just let me know and I will send you an invite, drop your email here

[2021-11-14 22:14] JoviDeCroock commented on #27
Feel free to invite me on decroockjovi@gmail.com

[2021-11-14 22:16] carlomigueldy commented on #27
Invite sent! @JoviDeCroock

Caveats on free tier, I am only limited to assigning "Owner" role to anyone who I can send invites to

[2021-11-14 22:29] with-heart commented on #27
Hey @carlomigueldy, since we're connecting this to the D_D orgs, I'd prefer to sign up for a Doppler account with the D_D email. Would that be fine?

[2021-11-14 22:30] carlomigueldy commented on #27
Hey @with-heart yes please

Can we also get a D_D email account to setup for Supabase projects?

[2021-11-14 22:31] carlomigueldy commented on #27
I don't really want to hold control for everything but temporarily I want to hold for now until we got a D_D account for it

[2021-11-14 22:41] carlomigueldy opened #33 "Proposal: Adding user stories for building up the roadmap"
As per feedback from @with-heart during the call from last Friday, to build out an MVP we need to setup a clear goal on what we want to achieve, what certain functionalities should be shipped, and know what exactly are we building.

I had a slight conversation with @angeljgomezc and I proposed that we'll use of ["User Stories"]( https://www.atlassian.com/agile/project-management/user-stories ) for

[2021-11-14 23:34] with-heart commented on #27
I have orgs for both Doppler and Supabase set up! Hook me up with emails and I'll invite

[2021-11-14 23:35] carlomigueldy commented on #27
Awesome!!

Here's my email :) carlomigueldy@gmail.com

[2021-11-14 23:43] with-heart opened #34 "Transfer Vercel environment variables to Doppler"
Task for me to do this since Vercel team seats are limited and I'm the only one with access to both Doppler and Vercel rn (I think)

Related to #27

[2021-11-15 00:11] carlomigueldy commented on #34
Hi @with-heart I have added the latest environmental variables on the Doppler workspace that was recently created

[2021-11-15 00:16] #28 closed

[2021-11-15 00:22] angeljgomezc opened #35 "Roadmap + MVP Features"
Hey everyone!

The job board is already shaping up, things are looking neat so far and there's a thing or two to finish before we launch the MVP.

But there's a tiny issue - even though it already has a shape, we still should make it CLEAR what we want the website to be like before we launch it.

After talking to @with-heart about this, it makes sense to DEFINE what the ideal MVP should look and b

[2021-11-15 00:26] angeljgomezc commented on #27
angel_33gomez@hotmail.com

[2021-11-15 00:40] carlomigueldy commented on #35
Sounds good to me. I have a suggestion for how we can implement this, we can probably use Next.js's serverless function and use a Supabase client into it using the service role key, and from there it will handle making calls to DevDAO smart contract and to check if they hold a genesis NFT (at least that's what we can do for now since ERC20 governance token hasn't been launched yet) and when they d

[2021-11-15 00:49] kasthor commented on #4
Made some update to get the button going

Also the package used has a Context which has been applied from _app.tsx for which the account number can be referenced from any place within the app by using the code

[code]

added a function called formatAccount (locally in the auth file) that i think should be moved to some utils file, but not sure where will it fit,

also the button is created as a co

[2021-11-15 00:56] kasthor opened #37 "Proposal: Integrate I18n"
Well as the job board might grow but it's still small, i believe it's probably the best time to integrate Internationalization to the project

Also from my experience I believe that getting I18n early in the project also helps to keep the code clean as the Interface level strings are always represented as a 'label'

Later on I can help to provide a translation to spanish :)

[2021-11-15 01:32] G3root commented on #27
nafeesnazik21@gmail.com

[2021-11-15 02:33] swetshaw commented on #35
**GIGS**
For gigs, I agree with the first point, let's focus on building the job board first, once the MVP is released, we can take up the part of the gig.

**APPLICATIONS**

How does the application feature look like for Jobs and Gigs?
For Jobs, my first idea was to let companies and people opening job posts add their email/webpage posts so devs can apply to jobs DIRECTLY and leave the job board

[2021-11-15 07:27] Dhaiwat10 commented on #27
Awesome work @carlomigueldy! My email: dhaiwatpandya@gmail.com

[2021-11-15 07:30] carlomigueldy commented on #27
Yo! Invites sent to all @JoviDeCroock @angeljgomezc @G3root @Dhaiwat10

[2021-11-15 07:51] Dhaiwat10 commented on #35
Let's not waste resources on this. I have no issues with us only getting feedback from DevDAO members at first but we don't need to spend any time on making sure only DAO members can access it. It's fine if someone else can access it.

Totally agreed. Let's put the gigs part on hold for now.

I want to re-iterate the original purpose of this project: to make a job board that connects talent with *

[2021-11-16 21:27] with-heart commented on #35
To echo @swetshaw's comments, writing detailed user stories and coming to agreement on them is important for us to move forward together and for us to build a sensible user experience.

With that said, I think 3 weeks is really underestimating how much time the "meta" tasks like fleshing out user stories will take (and that's ignoring how much more time actual development takes than we tend to est

[2021-11-16 21:36] with-heart commented on #35
I'm thinking a GitHub Project might be more effective for this. Certainly not opposed to documenting the general direction and purpose of the project in `ROADMAP.md` (I LOVE Markdown so I'm always in favor of another `md` file 😁), but text is static so it's hard to track progress.

Basic workflow could look something like this:

- Create an "MVP" project
- Create an issue for each user story
- Onc

[2021-11-16 21:46] with-heart commented on #33
Yes yes yes yes yes yes yes! I love this issue!

I do want to emphasize the importance of the "[so that]" part of the user story though. It's important to understand _why_ the user wants a feature as much as _what_ the feature is because it helps us make sure the features we build actually accomplish the user's _intent_.

An example:

Solution: Let's create a page that lists every submitted develo

[2021-11-16 23:12] angeljgomezc commented on #35
This is probably one of the best comments you've made so far mate! THANK YOU!

Given this was a surprisingly eye-opening thing to read for me (WHAT WAS I DOING BEFORE NOT SHARING MY DEV PROCESS...??), I suggest we start a new contribution guide for the DAO. It'd be great if everyone gets to understand what is expected when contributing and how they can contribute in the most effective way possible

[2021-11-17 00:08] carlomigueldy opened #42 "Dockerize"
I want to learn more about it and how to use `docker-compose` on this project :)

It's relatively trivial ticket but if someone does it for fun then we'd be happy to dockerize this repo and we can learn from it how it was setup

[2021-11-17 00:09] carlomigueldy opened #43 "Gitpod"
Trivial ticket again but it'd be cool to have [Gitpod](https://www.gitpod.io/) support

[2021-11-17 00:09] carlomigueldy commented on #37
Hi yes please let's set it up @kasthor ! 💯

[2021-11-17 00:14] JoviDeCroock commented on #42
What do you want to dockerize, personally not the biggest fan 😅 I've got quite a bit of experience but have grown more fond of lambda's and use docker for local databases

[2021-11-17 00:29] carlomigueldy commented on #42
I was thinking of getting Next.js dockerized? XD But would it be useful? @JoviDeCroock I'd like to know what your thoughts about it

I'm not going for a self-hosted Supabase tho.

[2021-11-17 00:40] with-heart opened #44 "Document how to appropriately handle internal links, external links, and buttons that act as links"
This issue comes from some of my code review feedback in #41. The way we have to handle links in combination with the `Link` component from Next.js's `next.link` package can be quite confusing and we should document those patterns in a place that's easy for contributors to access.

—

Created via [Raycast](https://www.raycast.com?ref=signatureGithub)

[2021-11-17 01:29] carlomigueldy opened #45 "User Stories"
// TODO:

[2021-11-17 02:39] angeljgomezc opened #46 "Job Board Main Ideas"
After having a conversation in Discord about WHERE to take the job board and ship quickly so we can start iterating more concretely - we ended up with a few main points to tackle:

- [x] We need [User Stories](https://github.com/Developer-DAO/DAO-job-board/issues/45) to brainstorm ideas for the job board like below
- [ ] USERS will be allowed to become either _Recruiters_ or _Seekers_ so they can

[2021-11-17 08:54] JoviDeCroock commented on #42
My main thinking behind not putting Next behind docker is that the current development ease is amazing. A new contributor rolls in and just runs yarn and yarn dev and they're off to the races. On top off that, Docker isn't available for non-pro Windows users so I'm always hesitant on it for open-source projects. We could say that we allow for both flows but that kind off scares me in terms of pote

[2021-11-17 09:01] carlomigueldy commented on #42
Ohh I see. But yeah the current state of how the project is right now is fine the way it is.

Thanks for your thoughts on it though :) I'm going to close this issue now

[2021-11-17 09:01] #42 closed

[2021-11-17 09:04] #43 closed

[2021-11-17 15:43] Dhaiwat10 commented on #4
I've been looking into this. Hoping to get something going soon

https://github.com/ethereum/EIPs/blob/9a9c5d0abdaf5ce5c5dd6dc88c6d8db1b130e95b/EIPS/eip-4361.md

[2021-11-17 15:54] Dhaiwat10 commented on #4
@JoviDeCroock shared this snippet which might help us:

[code]

[2021-11-17 18:22] frankTurtle opened #47 "Broken / incorrect 🔗 in the README"
At the bottom of the README, there are two links ( See screenshot below )
1. ISSUES
2. CONTRIBUTING GUIDELINES

![image](https://user-images.githubusercontent.com/5667044/142257952-af782169-8935-40e9-9f25-1fb9205c16c8.png)

### Link 1 - ISSUES
* The link points here 👉 https://github.com/angeljgomezc/DAO-job-board/issues
* It should point here 👉 https://github.com/Developer-DAO/DAO-job-board/issues

[2021-11-17 20:10] angeljgomezc commented on #47
Fixed @frankTurtle! Thank you for this!

[2021-11-17 20:11] #47 closed

[2021-11-17 22:55] angeljgomezc commented on #18
Hey @miralsuthar! We've decided to start with the MVP only having jobs so far. If you could work on the Job page only and leave the Gig for later, that would be ideal!

[2021-11-17 23:24] carlomigueldy commented on #46
This is the new link for the Notion board

https://carlomigueldy.notion.site/Job-Board-10257a02e02643ada8e11ad99c8248a6

I updated the User Stories page to be a sub-page, so if we might need to add another page for a different scope/topic, everyone can still access to it

[2021-11-17 23:26] JoviDeCroock commented on #4
I think a good flow would be to login like this, this will have the premise that we disconnect the supabase-auth-user (as it relies on email-pw). When we see that the user does not have a profile yet we redirect them to `create-profile` to onboard them.

[2021-11-18 05:28] carlomigueldy opened #52 "Update Database Schema"
The schema is somewhat out-of-date since we're moving towards _**Sign In with Wallet**_ for our authentication, so it shouldn't be referencing to `auth` schema for the primary key that we currently have on `users` table.

[2021-11-18 05:30] carlomigueldy commented on #45
Closing this, user stories should be added from the Notion board.

Here is the link

https://carlomigueldy.notion.site/Job-Board-10257a02e02643ada8e11ad99c8248a6

[2021-11-18 05:30] #45 closed

[2021-11-18 05:33] carlomigueldy commented on #27
Doppler workspace has been created and a bunch of invites to members were sent, installation steps for Doppler is also added in README.

A descriptive step-by-step process will be created soon.

[2021-11-18 05:33] #27 closed

[2021-11-18 05:34] #5 closed

[2021-11-18 13:53] #52 closed

[2021-11-18 16:05] frankTurtle commented on #19
I think it looks pretty solid 💪
As a side note, I also run a web3 job board. This is what we currently have for UI

## Desktop
![company](https://user-images.githubusercontent.com/5667044/142451679-3a83c73b-4edd-4dd9-83f9-69e63b0ade11.gif)

## Mobile
![companyMobile](https://user-images.githubusercontent.com/5667044/142451853-acecc251-151c-4f2a-9b6a-b9f14f9f9a92.gif)

[2021-11-18 16:50] frankTurtle opened #56 "Setup Prettier!"
To avoid unnecessary time time spent in PRs for things like this

![image](https://user-images.githubusercontent.com/5667044/142459932-ddfd0649-db79-45e4-bfa1-be8f60ee0c36.png)

[2021-11-18 22:03] #56 closed

[2021-11-18 23:35] angeljgomezc opened #58 "User Profile Form - User Profile"
This is how every dev's profile looks like: [Dev Profile](https://dao-job-board-murex.vercel.app/developers/developer1)

I think it looks simple but has pretty much everything we need every developer to have... Apart from experience/education/projects (which I discuss about the form below)

And this is the form for creating such profile: [Form](https://dao-job-board-murex.vercel.app/create-profile

[2021-11-18 23:39] JoviDeCroock commented on #58
I like the former as well, a lot of folks can benefit from doing a good pitch, showing their portfolio or just us listing previous completed projects on their profile. I do think there would be a certain benefit in coupling back to something like proof-of-competence (when that's a thing).

[2021-11-18 23:52] angeljgomezc opened #59 "Application List"
As of now, we have a [mockup for each Job Page
](https://www.figma.com/file/paI9rYA1rje3cDxKpomxWC/DAO-job-board?node-id=0%3A1) (right component)
![image](https://user-images.githubusercontent.com/53134194/142514400-fa4998af-8d36-4542-b35e-45afadec916c.png)

This is what every developer/job seeker will see as they open a job posting. However, what does every recruiter's job page look like?

We sho

[2021-11-18 23:58] angeljgomezc opened #60 "Adding Profile Image/Avatar"
Every user will have the chance to change their PFP through the [Profile Form ](https://dao-job-board-murex.vercel.app/create-profile)

We have the mockup for the profile form, but we should still add the input so users can add the image they prefer and upload it. We need a mockup for this input (feel free to propose something via Figma + push a PR to the repo afterward)

Here's the [create-profil

[2021-11-19 00:10] frankTurtle commented on #59
I'll take it 💪

[2021-11-19 00:17] diegoalzate commented on #60
Hey, i think i can give this a shot :)

[2021-11-19 00:20] carlomigueldy commented on #60
Hey for the storage, I got one in mind and it's pretty simple to use it. It's IPFS + FileCoin together for persistence.

Web3 Storage -> https://web3.storage/

[2021-11-19 00:27] carlomigueldy commented on #59
That looks good!

[2021-11-19 01:44] frankTurtle opened #61 "Implementation of path aliases"
# Problem
* Importing from a path such as `import {updateUser} from '../../../../../library/database/lameAssDbLib';` is clearly a bad idea
* As soon as this particular component is refactored or moved, it's going to break a lot
* With how dynamic this project is, this will almost certainly cause issues down the road

# Solution
* Enter in Next.js 👉 [Absolute Imports and Module path aliases](https:

[2021-11-19 02:04] carlomigueldy opened #62 "Add automatic database migrations"
Thought I'd create an issue for this after you sent me a DM about it

[2021-11-19 03:14] with-heart commented on #62
Could you please explain what "automatic database migrations" refers to here?

How do they work? What might we need to do to make them happen?

Is there a documentation page that might provide more context?

[2021-11-19 03:57] frankTurtle commented on #59
## I'm confused, I need a bit more clarification 👇

* You're saying this mockup is what the job seeker sees ✅

* Is there no figma UI?

* Am I adding it to this mockup?
* That doesn't seem right 🤔

* I think this answers all my questions ... So this mockup UI doesn't exist yet.
* The statement is `if we're doing this ... ` when do we decide if we are?

## Thoughts
* I missed the `design` tag, I ha

[2021-11-19 04:37] swetshaw commented on #58
I liked approach 1, developers don't have to add experience because many times it becomes intimidating for new developers.  A developer should be judged based on the projects that they have done and not the experience in the number of years that they possess.

[2021-11-19 04:47] swetshaw commented on #59
Hey @angeljgomezc , I think first we should decide if our job board wants to handle companies viewing the applicants on our website.

The other approach can be:

- The DAO provides the link to the job page/website where they have opened this job role.

- Developers who want to apply for a DAO can visit this link and apply for the job.

How are we planning to do it? If we are planning to handle thi

[2021-11-19 08:11] JoviDeCroock commented on #62
I haven't read abour this in context of supabase but the idea is setting up a CI step that will update the database schema when we roll out updates to production. This so we don't have the pressure of manually running a script to keep the schema in sync. When I look for supabase migrations I ended up at their cli https://supabase.com/blog/2021/03/31/supabase-cli

[2021-11-19 09:44] angeljgomezc commented on #59
Hey @frankTurtle! Totally fine! I should also name/explain issues better on these issues from now on.

[2021-11-19 10:32] Dhaiwat10 commented on #58
I also really like the idea of being project-focused. Although at the same time, we don't want to devalue things like work experience or education. But those things can go into the description field, or we can just add a simple optional 'experience' field.

[2021-11-19 10:34] Dhaiwat10 commented on #60
We def need this. Good luck @diegoalzate and feel free to ask for help

[2021-11-19 20:00] angeljgomezc commented on #59
YES!

I added both options because there's probably an advantage in allowing recruiters to see job applications directly on the site. This way they can separate people from DevDAO and other devs on the site from those applying directly through their website/email

What I had in mind was either of these:

1. A Recruiter posts a job. They can decide whether they want to add their own email/job-post-

[2021-11-19 23:30] carlomigueldy commented on #62
How do they work? What might we need to do to make them happen?
Is there a documentation page that might provide more context?

Updated the description for this ticket to address these.

[2021-11-19 23:34] carlomigueldy commented on #62
Just a question since I didn't completely catch it from Discord conversation, why would we defer from using Prisma? @JoviDeCroock

1. What's the concern main concerns of it on using it client side?
2. What's the concern main concerns of it on using it server side? (e.g. Serverless Functions)

[2021-11-20 01:06] angeljgomezc commented on #18
Hey @miralsuthar! Any progress on the job page? No pressure! Just asking what you've come up with so far!

Remember @with-heart wrote a bit of code on [his branch](https://github.com/Developer-DAO/DAO-job-board/blob/job-details-skeleton/client/pages/job-details.tsx). You can use this as a starting point if you haven't started yet.

Let me know how you're tackling this and if you need any help!

[2021-11-20 05:02] swetshaw commented on #59
Okay @angeljgomezc , assign me this issue and parallelly we can discuss this over a discord call and take things forward. What do you say?

[2021-11-20 10:52] miralsuthar commented on #18
hey @angeljgomezc so just for now the data is going to be static right?

[2021-11-20 10:57] carlomigueldy commented on #59
I like both by the way

[2021-11-20 11:03] carlomigueldy opened #67 "Proposal: Roadmap Page"
### Overview

A page where the users can see a timeline of a set of features that were implemented on each month. And they will also see upcoming features with a time estimation that we can ship it by a given timeframe? Or maybe only have a date displayed if the features were implemented. By having a roadmap page in the website, that could bring excitement for our users and may also encourage pote

[2021-11-20 11:56] angeljgomezc commented on #18
Yes! It's a prototype so far, but we still need the code

[2021-11-20 12:48] angeljgomezc opened #68 "Develop + Design Gig Page"
To minimize the number of tasks per issue, I'm separating #18 into two parts:

1. Job Page
2. Gig Page

This one will be the gig page as mentioned in the issue.

- [ ] **Gig** (will be left for later)

The gig page should include information about the gig for people to understand what the creator is looking for (title, description, keywords, timeframe, reward, and amount). We should also develop a

[2021-11-20 20:04] with-heart commented on #18
Yeah, feel free to checkout from my PR and work off that if you'd like!

[2021-11-21 00:14] carlomigueldy opened #69 "Setup Hardhat Project"
### Overview

Since we're looking at putting funds for Gigs into a smart contract, then we need to setup the Hardhat project into the repo. It will be using TypeScript and all them goodies, i.e. it will use the Advanced TypeScript setup from Hardhat template.

[2021-11-21 00:55] carlomigueldy opened #71 "Move `client` directory into `packages` and rename `client` to `website`"
### 🔍 Overview

I notice most monorepos that's using Yarn Workspace have all the projects into `packages` directory. So thought we would follow that convention where I think that keeps things clean while on the root directory we have all the configurations for CI, lints, Husky, etc. And for renaming the `client` to `website` would make more sense. Since we "might" want a React Native project in th

[2021-11-21 07:51] miralsuthar commented on #18
Hey, @angeljgomezc just open the PR for this issue and let me know if you need any changes.

[2021-11-21 14:14] PBillingsby opened #74 "Proposal: Add ability to add POAP/Completion NFTs for user profile"
Allow user to display POAPs and NFTs from completed courses/tutorials etc.

Advantages:  User to be able to show efforts and involvement in the open source and web3 communities to prospective employers.

[2021-11-21 22:38] #4 closed

[2021-11-21 23:48] carlomigueldy opened #75 "Supabase generate type definitions"
### Overview

While maintaining defined types on `client/types` can easily be forgotten then it's most likely be out-of-date. We need something that can auto-generate on the fly.

More information can be found [here](https://supabase.com/docs/reference/javascript/generating-types) from Supabase official docs

[2021-11-21 23:50] diegoalzate commented on #60
I think i finished the basic functionalities, but i have some doubts.

- First of all i created a web3Storage account with my github account and generated an api key with that account, I'm not sure if we should create this api key with another account
- Another doubt is concerning an update functionality with web3Storage, i can successfully store a file but i havent been able to see how i can upda

[2021-11-22 00:04] carlomigueldy commented on #60
I am gonna take a look at some templates for the pull requests in its most simplest form so everyone that creates a pull request will have a guide on what information to put

[2021-11-22 00:58] carlomigueldy opened #76 "Hook up forms to database"
### Overview

While @angeljgomezc is wrapping up the UI for the forms on job posting creation, user profile, gig posting or etc. Thought it'll be good to plan things out here and to give some context on what I can recommend the approach to take to make it easier to contribute into the project. I have already defined types into `client/types` which y'all can use it however an updated type definitio

[2021-11-22 07:38] carlomigueldy commented on #74
I like this idea by the way so it's a +1 from me

I have a question though, how do we retrieve POAPs, what API do we use? The first thing that comes to mind is using The Graph or ethers.js library

[2021-11-22 15:23] shindeajinkya commented on #76
will take this up

[2021-11-22 20:17] angeljgomezc commented on #76
Awesome! Let's wait for the Forms to be fully available and ready for the hook-up so we can start connecting everything :)

[2021-11-22 20:47] carlomigueldy commented on #76
Sounds good, I'm gonna create a PR and update here in this issue for the progress or whenever it's merged

[2021-11-23 04:34] shindeajinkya commented on #76
Will go ahead with create-profile one

[2021-11-23 04:39] carlomigueldy opened #79 "Update database attributes to match UI forms"
### Overview

There were lots of additions since so the database attributes got outdated overtime. We need to update the attributes that is inline to the current UI that we have in the website. My recommended approach to figure out what attributes to add, change or removed is to go over the website, check out the existing implemented forms and try to come up which attributes that are need to be ad

[2021-11-23 04:40] carlomigueldy opened #80 "Consolidate user stories for RFC"

[2021-11-23 14:22] PBillingsby commented on #74
@carlomigueldy I reached out to POAP and got the API. I'm going to look further into the API today

https://api.poap.xyz/documentation/static/

[2021-11-23 16:13] Nazeeh21 commented on #58
I would like to work on this issue

[2021-11-23 16:27] PBillingsby opened #81 "Proposal: Sort job/gig results by matching tags/skills"
**Problem**
Default search results in no particular order with other job sites. Most job sites do not sort job/gig results in a way that creates a good and sensical experience for job/gig seekers.

**Proposed Solution**
Sort job/gig results based on matching skills.
Eg -
  <table>
    <tr>
      <th>Dev</th>
      <th>Job 1</th>
      <th>Job 2</th>
      <th>Job 3</th>
    </tr>
    <tr>
      <t

[2021-11-23 17:05] #18 closed

[2021-11-24 03:39] frankTurtle commented on #74
🤙🤙 I like these, too!

[2021-11-25 00:18] carlomigueldy commented on #80
Done!

RFC posted at Discourse

https://forum.developerdao.com/t/rfc-user-stories-for-dao-job-board/507

[2021-11-25 00:18] #80 closed

[2021-11-25 01:00] carlomigueldy commented on #81
We included this in the RFC!

[2021-11-25 12:20] swetshaw commented on #59
Hi @angeljgomezc , I have tried to design a minimalist page for the application list, you can access the Figma file [here](https://www.figma.com/file/g3I1A9yV6YPwPnycMFcgCu/Application-list-DD?node-id=45%3A356)

What do you think about it? Waiting for your review 🙂

[2021-11-25 17:23] angeljgomezc commented on #59
Looks great! This is like an application dashboard for the site, and it matches with what we were thinking! Thank you!

By the way, we're getting help from the design guild when it comes to the visuals, so you won't have to build mockups for anything going forward (or that's the plan)

Either way, would be great if you shared this in the job-board channel for everyone to see!

[2021-11-25 23:05] #35 closed

[2021-11-25 23:06] #46 closed

[2021-11-25 23:06] #10 closed

[2021-11-26 00:32] #69 closed

[2021-11-26 00:34] #61 closed

[2021-11-26 00:47] carlomigueldy commented on #74
Awesome stuff thank you!

[2021-11-26 00:47] carlomigueldy commented on #74
This proposal is involved in this RFC! 🚀

https://forum.developerdao.com/t/rfc-user-stories-for-dao-job-board/507

[2021-11-26 00:47] #74 closed

[2021-11-26 00:52] carlomigueldy commented on #33
Thank you so much for the suggestion we've been referring on this when writing up & finalizing the RFC!

[2021-11-26 00:52] carlomigueldy commented on #33
Closing this issue now since the RFC has been created.

https://forum.developerdao.com/t/rfc-user-stories-for-dao-job-board/507

[2021-11-26 00:52] #33 closed

[2021-11-26 00:54] carlomigueldy commented on #59
We've involved this in the RFC however rephrased but the idea was there! Thank you @swetshaw

https://forum.developerdao.com/t/rfc-user-stories-for-dao-job-board/507

[2021-11-26 01:00] carlomigueldy opened #84 "Security: Validating a job posting"
### Overview

While having a random chat with @PBillingsby we were talking about how people could potentially flood the job board using bots, they can create a new wallet and flood more with not useful information thus that might not give us a good reputation or perspective for our users that our job board is spammy with scammy postings. Tackling this early on or finding a solution would be great.

[2021-11-26 01:43] angeljgomezc commented on #35
Closed this issue because the RFC was created at:

https://forum.developerdao.com/t/rfc-user-stories-for-dao-job-board/507

[2021-11-26 01:44] angeljgomezc commented on #46
Closed because the main RFC and user stories with all the information about the MVP were created:

https://forum.developerdao.com/t/rfc-user-stories-for-dao-job-board/507

[2021-11-26 04:47] angeljgomezc commented on #84
Maybe we can start charging people for job postings before it gets crowded?

[2021-11-26 05:14] PBillingsby commented on #84
@angeljgomezc @carlomigueldy I think this definitely raises the security more if the job posting is a paid service. I think we should look into this at least

[2021-11-26 07:42] andriishupta commented on #68
Hello @angeljgomezc 👋

I would like to pick this up
As I see it is "for later", so want to start helping out from this one :)

I checked different issues, read descriptions of the parent ticket, checked UI(current mockup), visited `/jobs` for "reference", etc., so I would be on the topic.

Also, wrote a message in discord that would like to help:

[2021-11-26 21:38] PBillingsby opened #86 "Proposal: Shorten required char length for job title for job post form"
## Overview
While looking over the code I noticed that with the job post form there is a `minLength` of 10 for the job title.

## Problem
Have not considered jobs like Tech Lead, that have less than 10 characters

## Proposal
Shorten required character count to 7 to account for shorter job titles: `minLength={7}` `<Text fontSize="xs">At least 7 characters</Text>` `Make sure title is at least 7 cha

[2021-11-27 10:42] PBillingsby commented on #84
@angeljgomezc @carlomigueldy A thought I had was wouldn't a job poster have to pay gas for a post? This might deter a lot of spam bots based on this alone.

[2021-11-27 11:24] carlomigueldy opened #105 "Add guide to README"
https://discord.com/channels/883478451850473483/908922214345211954/914039928055283722

[2021-11-27 16:19] angeljgomezc commented on #86
Fixed at #78

[2021-11-27 16:19] angeljgomezc commented on #86
Fixed at #78

[2021-11-27 16:19] #86 closed

[2021-11-27 23:15] carlomigueldy commented on #84
We're most likely not using Ethereum Mainnet since it'll be very expensive to create a job posting, so we're most likely finding L2s solution. I don't have much knowledge about the other chains yet and on what the perfect use case for this.

[2021-11-27 23:19] carlomigueldy commented on #84
Btw I created a Discussion here, thought if it'd be great having all of it in there. So I added a link to reference in this issue

For anyone that wants to continue following the thread or want to get involved with discussion, it continues here

https://github.com/Developer-DAO/DAO-job-board/discussions/108

[2021-11-27 23:19] #84 closed

[2021-11-28 01:48] carlomigueldy commented on #105
Would need to add a step-by-step guide too for creating pull requests just to keep things organized

[2021-11-28 12:37] shindeajinkya commented on #79
https://shrouded-egg-969.notion.site/Dev-DAO-job-board-missing-DB-attributes-28af617997e8480dbd1e088ec5b1d2cf

have found these missing fields for DB and forms both will update for other forms too in some time

[2021-11-29 04:49] #9 closed

[2021-11-29 05:09] angeljgomezc opened #112 "Refactor `LinksSection.tsx`"
**Is your feature request related to a problem? Please describe.**

The structure of the `LinksSection.tsx` [file](https://github.com/Developer-DAO/DAO-job-board/blob/main/client/components/create-profile/LinksSection.tsx) is a bit dirty and needs some refactoring.

**Describe the solution you'd like**
It would be great to write a loop/map that reduces the amount of code + makes the whole componen

[2021-11-29 13:10] #112 closed

[2021-11-29 16:10] angeljgomezc commented on #79
Hey mate! We need to re-do the database following the forms and not the other way around - so getting rid of the fields in the database that we aren't using should be the best way to go.

[2021-11-29 16:58] angeljgomezc commented on #59
Moved to #118 as discussion

[2021-11-29 16:58] #59 closed

[2021-11-29 22:40] mayurjobanputra opened #119 "Post isn't working?"
**Describe the bug**
Seems like I can't post a job
![image](https://user-images.githubusercontent.com/6332663/143954059-0b30bab4-3076-490b-a64f-4c471fd11bce.png)

If I click post, nothing happens

[2021-11-30 00:27] angeljgomezc commented on #119
The project is still in the works (it's a prototype). We hope to have it ready ASAP!

Thank you for the interest anyway!

[2021-11-30 00:27] #119 closed

[2021-11-30 01:00] carlomigueldy opened #120 "Add Git commit conventions guide to `CONTRIBUTING.md`"
###

It will be just a guide for Git commit conventions and it won't be opinionated or required for contributors, everyone is free to write any commit message as they please.

[2021-11-30 01:01] #75 closed

[2021-11-30 01:05] carlomigueldy opened #121 "Add guide on README to use TypeScript type definitions"
### Overview

I have noticed there were local defined data models or types and it was violating DRY principle. I'll need to write a good guide on README to encourage usage on the TypeScript type declarations. The PR #116 comes with auto generating types on the fly thanks for resolving this @JoviDeCroock

[2021-11-30 01:10] carlomigueldy opened #122 "Build out the design system components into the app"
### Overview

The design team has been working towards building the designs and jazza.eth have laid out the foundations for the design system. Personally I think it would be great that we can prioritize building out the design system components when those were completed. That will allow us to mostly reuse everything and not having to reinvent or rebuild components ourselves.

While having design s

[2021-11-30 01:14] carlomigueldy opened #123 "Storybook setup"
### Overview

As mentioned on this #122 we might have to setup storybook.

Here are the links that I think are useful:
- https://storybook.js.org/
- https://www.npmjs.com/package/@storybook/react
- https://storybook.js.org/addons/@snek-at/storybook-addon-chakra-ui

If it's going to have its own app directory then please have it inside `packages` and not directly in the root directly. We're aiming

[2021-11-30 01:17] carlomigueldy commented on #79
You can also refer to this document if you may come up with them database attributes @shindeajinkya

RFC Document
https://forum.developerdao.com/t/rfc-user-stories-for-dao-job-board/507

[2021-11-30 01:21] carlomigueldy opened #124 "Add more details to database design"
### Overview

The [database design](https://github.com/Developer-DAO/DAO-job-board/tree/main/database) that I have came up with from weeks ago needs to have more details to be explained to help understand why the decision to come up with such relationship mapping. At the time of writing this the database attributes are out-of-date since we've finally published the [RFC document](https://forum.deve

[2021-11-30 01:46] carlomigueldy commented on #122
I wanna know more of your thoughts on this about storybook

cc @with-heart @Dhaiwat10 @angeljgomezc

[2021-11-30 01:49] Dhaiwat10 commented on #122
If you're building a collection of re-usable components I think Storybook is a good idea. This would also be a good introduction and learning exercise for folks who are new to Storybook.

[2021-11-30 04:04] sushiAlii commented on #124
hey Carlo, add me on this

[2021-11-30 18:12] diegoalzate commented on #60
@carlomigueldy @Dhaiwat10 @angeljgomezc
Hi! I'm still a bit stuck on this, not sure if the database connection changes the way this feature should work.

[2021-11-30 22:32] #37 closed

[2021-11-30 23:00] carlomigueldy opened #128 "Setup a React library compatible to Next.js and Storybook"
### Overview

The main purpose of setting up a library in this monorepo is to house all design system components. This allows highly reusability of React components across the monorepo and even better share this library to other D_D dApps. There has been some thoughts going around that it'd be great if we can start building the design system library from this repo and share what we built to emergi

[2021-11-30 23:05] JoviDeCroock commented on #128
Hey,

There's a lot of ways this can be set up. Because it's in the monorepo it benefits from prettier already.

You can create a package bundle with rollup and use it in the next app, this is symlinked by default in a monorepo. However this incurs an additional build step before hot reloads can kick in with next.

Prototyping a design system could also be done as part of the next app and be abstr

[2021-11-30 23:12] carlomigueldy commented on #128
Ah I see. We'll go with that instead since there are additional steps if we go by setting up a library.

I think I will close this issue for now since most likely it's what everyone would say too at this stage. Thank you for your feedback on this @JoviDeCroock 🥂

[2021-11-30 23:12] #128 closed

[2021-11-30 23:49] angeljgomezc commented on #60
Hey @diegoalzate, where are you stuck exactly? The database isn't finished yet, so you probably shouldn't worry about that. As long as you can set up upload to IPFS and you get the link of the file being uploaded, that should be enough.

Also, a simple UI would suffice for this job (takes the[ new profile form](https://dao-job-board.vercel.app/create-profile) as a guide).

[2021-11-30 23:52] carlomigueldy commented on #60
Yo, if you're directly integrating this and adding actual record to database, the attribute `avatar_url` is up-to-date. However if not the case then you can add TODOs that the returned value for the IPFS upload needs to be saved into the database.

[2021-12-01 00:30] carlomigueldy opened #130 "Unhandled Runtime Error TypeError: require.e is not a function"
**Describe the bug**

Seems like the Next.js dynamic imports isn't working as what we expect, it's throwing me an error on dev.

**To Reproduce**

Steps to reproduce the behavior:

1. Run dev server by `yarn dev`
2. Go to http://localhost:3000/post-job

**Expected behavior**

Should open the page without error on dev

**Screenshots**

If applicable, add screenshots to help explain your problem.

!

[2021-12-01 00:43] carlomigueldy commented on #130
I think this may be happening to me only

[2021-12-01 00:53] carlomigueldy commented on #130
I deleted node_modules and reinstalled dependencies and now it works! 👀

Closing this issue now

[2021-12-01 00:53] #130 closed

[2021-12-01 23:59] carlomigueldy opened #137 "Add tests"
### Overview

This isn't a priority right now but if someone wants to take it and add automated tests then that would be very awesome

[2021-12-03 19:38] PBillingsby commented on #137
I’m no test expert though I think we should be implementing them with the amount of data being thrown around, added with the upcoming token and amount of traffic expected to be flooding the job board.

We can put it up to vote but for me it should be considered.

[2021-12-04 10:33] carlomigueldy commented on #137
Yo that sounds good. Can you elaborate more on this?

[2021-12-04 13:27] PBillingsby commented on #137
We should be implementing at bare minimum some unit testing. Writing Jest tests on stateful components like the forms will allow us, in an easier way, to check if bad data is being persisted. It will also give us a better chance at identifying bugs and where particular blocks of code are breaking.

Jest resources:
https://jestjs.io/docs/getting-started
https://blog.logrocket.com/testing-typescript

[2021-12-04 13:33] PBillingsby commented on #137
Definitely think we need some more opinions on this as I am not the most experienced tester.

[2021-12-04 23:31] carlomigueldy commented on #137
Yo very awesome! Thanks for the details @PBillingsby and yeah unit tests would definitely help us guard from spams, we can write tons of scenarios that we can think of.

Agreed, I've only be unit testing with Jest for like 3-4 months so I'm definitely not that experienced tester either. But I do know who's a very good at it in fact a mentor, I'll reach out to him :)

[2021-12-07 16:00] christiananese commented on #123
@carlomigueldy I could set this up if no one else is working on this.

[2021-12-08 00:03] carlomigueldy commented on #123
Yeah fo sho mate, no one else is working on this @christiananese

[2021-12-08 06:35] carlomigueldy opened #143 "Move Web3Storage to API routes"
We can do this as a follow-up issue as we're not live yet but I'd suggest incorporating this in our `api-routes` so `/ap/upload-avatar` which will stream fe --> api-route --> web3.storage this makes our tokens safely stored in a serverless function and away from our users

_Originally posted by @JoviDeCroock in https://github.com/Developer-DAO/DAO-job-board/pull/139#r763971887_

[2021-12-08 06:44] carlomigueldy opened #145 "Update Vercel root directory"
File restructure was done in this PR #144

The current directory for Vercel is "client" but now it has to change to "packages/client"

[2021-12-08 06:45] #71 closed

[2021-12-08 08:26] Dhaiwat10 commented on #145
Updated

[2021-12-08 08:26] #145 closed

[2021-12-08 08:35] carlomigueldy commented on #123
Assigning this to you my friend @christiananese

[2021-12-09 23:21] #123 closed

[2021-12-10 18:25] angeljgomezc opened #155 "Job Cards - Turning New Designs into Code"
**Is your feature request related to a problem? Please describe.**

Current design on the job list is outdated. We already have new designs to work on at https://www.figma.com/file/qGlR5rEinlbUgWmbogXunz/Design-System-%2F-Jobs-Board?node-id=444%3A2525

**JOB CARD**
![image](https://user-images.githubusercontent.com/53134194/145625193-d97fc57c-5dc8-4cbc-99da-5d7e08999ef3.png)

**Describe the soluti

[2021-12-10 18:40] angeljgomezc opened #157 "Modify Dashboard - Turning New Designs Into Code"
Is your feature request related to a problem? Please describe.

Current design on the Dashboard (Sidebar) is outdated. We already have new designs to work on at https://www.figma.com/file/qGlR5rEinlbUgWmbogXunz/Design-System-%2F-Jobs-Board?node-id=173%3A2

**HIRING MODE**
![image](https://user-images.githubusercontent.com/53134194/145624870-bac5ba5c-2405-469e-904b-f83c2ff75bb3.png)

**EARNING MODE

[2021-12-11 02:59] krames12 commented on #155
I can take this issue if nobody else is already working on it. Should take me a few days (3-4?) since I'm a little limited on non-work dev time.

[2021-12-11 20:42] angeljgomezc opened #159 "Modify Navbar/Header - Turning New Designs into Code"
Current design of the Navbar/Header is not responsive nor good-looking enough to match the designs at: https://www.figma.com/file/qGlR5rEinlbUgWmbogXunz/Design-System-%2F-Jobs-Board?node-id=107%3A3

Check the Figma file and develop a component just like it.

![image](https://user-images.githubusercontent.com/53134194/145691080-8ba87e3d-5cb3-4869-93f4-d71375d55f59.png)

This issue is for anyone who

[2021-12-12 00:11] m-t-a97 commented on #157
I would like to be assigned this issue if no one else is working on this. Thanks in advance.

[2021-12-12 00:44] angeljgomezc commented on #157
Great! How long do you think this will take you?

[2021-12-12 02:44] krames12 commented on #137
Might I suggest that we have an accessibility tool like [jest-axe](https://github.com/nickcolley/jest-axe) and including even just the basic `toHaveNoViolations()` check to catch the very obvious a11y issues that people tend to miss?

[2021-12-12 02:57] carlomigueldy commented on #137
Yo please do, we'd love to have that. :)

[2021-12-12 03:46] tarunyadav1 commented on #159
Hey @angeljgomezc ,
I can take this issue.  Should take me a few days (3-4 days).

thanks

[2021-12-12 06:49] m-t-a97 commented on #157
It should take around 3-4 days roughly.

[2021-12-12 22:47] angeljgomezc opened #160 "Modify Filter - Turning New Designs Into Code"
The current design on the Job Filter (right side) is outdated. We already have new designs to work on at https://www.figma.com/file/qGlR5rEinlbUgWmbogXunz/Design-System-%252F-Jobs-Board

JOB FILTERS
![image](https://user-images.githubusercontent.com/53134194/145732698-6fc65fa1-0893-4793-92fb-79c802a437a2.png)

This issue is for anyone who wants to participate to develop the new Dashboard. These wi

[2021-12-13 01:44] krames12 commented on #137
Once I'm done with #115, I wouldn't mind picking this up and adding even just some basic unit tests where possible. Would it be safe to assume it would be best to submit a PR for the initial `testing-library/react` setup + a basic test to prove it's working and then a separate PR for each section of the project?

[2021-12-13 04:30] carlomigueldy commented on #137
Yes we would love to have that as well! Please do so :)

[2021-12-14 02:54] krames12 commented on #137
@carlomigueldy Last question for the moment. I'm assuming this is _just_ for unit testing and not both unit testing _and_ end to end tests with something like Cypress, correct? If it does encompass both, I think we should make an issue to discuss what type of testing would need to be done there that isn't covered with unit tests.

[2021-12-14 03:05] frankTurtle commented on #137
At a bare minimum, there needs to be unit tests. Integration tests are always helpful, too, ofc.

[2021-12-14 12:56] angeljgomezc opened #165 "Create New Chakra Theme Based of Figma's Design System"
The design system at https://www.figma.com/file/qGlR5rEinlbUgWmbogXunz/Design-System-%2F-Jobs-Board?node-id=173%3A2 already contains

- Colors
- Typography
- Buttons
- Spacing
- Layout

I will modify Chakra's Theme to match these properties. This should make it easier to fast-track development going forward and maintain consistency.

In the meantime, development will halt for a bit until we figure

[2021-12-15 12:44] tarunyadav1 commented on #159
Hey @angeljgomezc  ,
I need more time on this task, got some important work. Would it be possible to extend to this Saturday?

Thanks

[2021-12-15 16:08] angeljgomezc commented on #159
Take your time!

[2021-12-15 17:00] with-heart opened #167 "Manage fonts with `fontsource`"
[fontsource](https://fontsource.org/) provides open source fonts as npm packages. This gives a number of benefits [which can be seen here](https://fontsource.org/docs/introduction) but mostly I like it because it's less cognitive overhead:

1. install font package
2. import in `_app.tsx`
3. font is ready to go!

You can see an example commit with this change here: [Developer-DAO/developerdao.com@`

[2021-12-15 17:28] with-heart opened #168 "Use `react-icons` for icon management"
This project currently uses packages from `@fortawesome` to render icons. I'd like to propose that we replace them with [`react-icons`](https://github.com/react-icons/react-icons) for a few reasons:

- `react-icons` exports icons as React components, requiring less effort to use them (vs. `@fortawesome` which requires importing both `FontAwesomeIcon` and the actual icon `svg` and then using them t

[2021-12-15 17:46] with-heart commented on #168
Actually from discussion in Discord it looks like we're going to be using [Tabler Icons](https://tablericons.com/) which aren't included in `react-icons`, so going to go ahead and close this.

[2021-12-15 17:46] #168 closed

[2021-12-15 19:32] with-heart commented on #165
I think we should start with a single PR for each _token_ (color, typography, spacing) and then move on to more complex pieces like buttons and layout.

Additionally I think we should set some expectations about what it means to _implement_ the token so that merging the PR means we end up with a token that exists in our Chakra theme and is documented well.

@angeljgomezc would you mind if I edit t

[2021-12-15 19:37] angeljgomezc commented on #165
Not at all!

[2021-12-16 04:00] mweiss427 commented on #155
I'm going to take a stab at this. I'm a first-timer, I will report tomorrow on an update.  No clue on time.  If you need this ASAP, start working and tell me to stop, I'll find something else.

[2021-12-16 14:19] PBillingsby commented on #79
@carlomigueldy Can you review the current db info and see if theres anything in the schema that doesn't look right to you? If all the polymorphic relationships are connected then I believe this issue is good to be closed, just wanted a second opinion.

[2021-12-16 14:34] angeljgomezc commented on #155
Hey! We already have someone working on this!

[2021-12-16 14:36] angeljgomezc commented on #167
I'll get this done later today!

[2021-12-16 18:27] with-heart opened #170 "Implement new design system tokens"
This is an umbrella issue for tracking the work required to implement and document the tokens for the [new design system](https://www.figma.com/file/qGlR5rEinlbUgWmbogXunz/Design-System-%2F-Jobs-Board?node-id=107%3A3).

See the ["Design Tokens" page of the Adobe Spectrum docs](https://spectrum.adobe.com/page/design-tokens/) for a more detailed explanation.

This issue covers the following tokens:

[2021-12-16 18:48] with-heart opened #171 "Implement and document new design tokens"
This is an umbrella issue for tracking the work required to implement and document the tokens for the [new design system](https://www.figma.com/file/qGlR5rEinlbUgWmbogXunz/Design-System-%2F-Jobs-Board?node-id=107%3A3).

See the ["Design Tokens" page of the Adobe Spectrum docs](https://spectrum.adobe.com/page/design-tokens/) for a more detailed explanation.

This issue covers the following tokens:

[2021-12-16 18:48] with-heart opened #172 "Implement and document color design tokens"
This is an umbrella issue for tracking implementation+documentation work of [the colors in our new design system](https://www.figma.com/file/qGlR5rEinlbUgWmbogXunz/Design-System-%2F-Jobs-Board?node-id=107%3A3).

According to the definition of done in #171, completing this issue requires three things:

- Update the Chakra `theme` with the new token
- Document the new token in Storybook
- Update exi

[2021-12-16 18:54] with-heart opened #173 "Add new colors to Chakra theme and document them in Storybook"
This issue is for adding the new colors to our Chakra `theme` and creating a documentation page for them in Storybook.

You can see the new colors and their hex codes in our [new design system Figma](https://www.figma.com/file/qGlR5rEinlbUgWmbogXunz/Design-System-%2F-Jobs-Board?node-id=107%3A3), but here's a pic of them:

![image](https://user-images.githubusercontent.com/1954752/146432007-fa7cc6b

[2021-12-16 19:06] with-heart commented on #165
It was easier to just create a new issue! I'm going to close this one in favor of #171

[2021-12-16 19:06] #165 closed

[2021-12-16 19:06] with-heart commented on #165
Just a note, I'll open issues for button and layout as we're ready for it

[2021-12-16 19:18] with-heart commented on #172
Before I can create an issue for the "update" piece, we'll need to talk about how Chakra automatically calculates the colors to use for different components—like buttons and the background colors for normal, hover, and active states, or alerts and the `info`, `success`, etc. variants.

I'll follow up on that soon!

[2021-12-16 19:21] angeljgomezc commented on #173
already worked on at #166 only need to finish the Storybook setup

[2021-12-16 19:35] wchamberlain89 commented on #171
Our Figma colors grid represents the full spectrum of colors for the Developer Dao design system. Our project currently is only using about 8 - 12 of these colors, Do we still want to implement the full range of colors in our system?

[2021-12-16 19:39] wchamberlain89 commented on #171
The full list I suppose lets us build aliases around the ones we're using. So we'd be able to narrow down the list later if we'd like

[2021-12-16 19:57] mweiss427 commented on #155
Sounds good. I got to reading documents so didn't even start.

[2021-12-16 22:29] frankTurtle commented on #34
This is closed then?

[2021-12-21 12:16] #155 closed

[2021-12-21 12:37] angeljgomezc commented on #173
Close with #165

[2021-12-21 12:37] #173 closed

[2021-12-21 15:59] with-heart opened #176 "Typography"

[2021-12-21 15:59] with-heart opened #177 "Spacing"

[2021-12-27 13:22] PBillingsby opened #178 "Add Italian translation"
### Overview
Add Italian translation to job board

### Task
- [ ] Add language directory in `packages/client/public/locales` named by language code: English = `/en`, French = `/fr`
- [ ] Add `common.json`
- [ ] Translate values from `packages/client/public/locales/en/common.json` matching the nesting of JSON to your created `common.json`
### Notes
- For now, to test add language code to url to vie

[2021-12-27 13:25] PBillingsby opened #179 "Add Chinese translation"
### Overview
Add Chinese translation to job board

### Task
- [ ] Add language directory in `packages/client/public/locales` named by language code: English = `/en`, Chinese = `/zh`
- [ ] Add `common.json`
- [ ] Translate values from `packages/client/public/locales/en/common.json` matching the nesting of JSON to your created `common.json`
### Notes
- For now, to test add language code to url to vi

[2021-12-27 13:26] PBillingsby opened #180 "Localize site with multiple languages"
### Overview
Majority of the job board has been internationalized for English and now is ready for localization to be started. This issue will be the parent for all language specific localization issues.

### Problem
The job board is only viewable in English, restricting the amount of users on the board

### Solution
Create issues dependent on the to be localized, link issues below to this issue,

[2021-12-27 16:24] angeljgomezc commented on #159
Hey @tarunyadav1, how are you progressing with this? Let us know if you need any help :)

We're looking to have this ASAP as we're trying to build the MVP

[2021-12-27 16:25] angeljgomezc commented on #160
Hey @HKerStanley, how are you progressing with this? Let us know if you need any help :)

We'd love to have this ASAP!

[2021-12-27 16:25] angeljgomezc commented on #122
Breaking down components in smaller batches so I'll close this issue

[2021-12-27 16:25] #122 closed

[2021-12-27 16:26] angeljgomezc commented on #137
I'd love to have tests for the project, but we probably need to add them once we have the MVP or before launching it, so adding a `for-later` tag to this

[2021-12-27 16:28] angeljgomezc commented on #79
closed via #150

[2021-12-27 16:28] #79 closed

[2021-12-27 16:29] #25 closed

[2021-12-27 16:29] #34 closed

[2021-12-27 16:30] angeljgomezc commented on #67
We didn't make this so I'm closing it. Probably reopen later if we get the roadmap going.

[2021-12-27 16:30] #67 closed

[2021-12-27 16:31] angeljgomezc commented on #60
closed via #139

[2021-12-27 16:31] angeljgomezc commented on #60
closed via #139

[2021-12-27 16:31] #60 closed

[2021-12-27 16:31] angeljgomezc commented on #124
closed via #150

[2021-12-27 16:31] #124 closed

[2021-12-27 16:32] angeljgomezc commented on #76
Hey @PBillingsby you're working on this, right?

[2021-12-27 23:52] #167 closed

[2021-12-28 12:16] tarunyadav1 commented on #159
Hey @angeljgomezc ,
I have done some parts, but it's not complete yet. I am able to work on this after the new year. If someone want to take it in the mean time, you can unassigned me.

thanks

[2021-12-31 03:45] angeljgomezc commented on #159
closed by #184

[2021-12-31 03:45] #159 closed

[2021-12-31 09:26] HKerStanley commented on #160
Sorry @angeljgomezc I was spending time with family during holiday. Should be able to wrap it up in few days. In the meantime please have a look on my draft PR and let me know if I am going a wrong direction. Much appreciated :)

[2022-01-03 01:43] #171 closed

[2022-01-03 05:01] angeljgomezc commented on #172
closed with #188

[2022-01-03 05:01] #172 closed

[2022-01-04 01:59] angeljgomezc opened #189 "Refactoring Job Post Modal - Turning New Designs into Code"
The current design on the Job Post is outdated. We already have new designs to work on at https://www.figma.com/file/qGlR5rEinlbUgWmbogXunz/Design-System-%2F-Jobs-Board?node-id=173%3A2

JOB POST
![image](https://user-images.githubusercontent.com/53134194/147999554-9f149979-cac5-40c4-8983-8c6a1096f58e.png)

This issue is for anyone who wants to participate to develop the new Job Post MODAL. These w

[2022-01-04 02:06] angeljgomezc opened #190 "Adding Job Post Preview on Post Job Form - Turning New Designs into Code"
The current design on the Job Post is outdated. We already have new designs to work on at https://www.figma.com/file/qGlR5rEinlbUgWmbogXunz/Design-System-%2F-Jobs-Board?node-id=173%3A2

JOB POST PREVIEW
![image](https://user-images.githubusercontent.com/53134194/147999910-9b68a1c2-6d9b-4336-b4c1-79e20a8511a2.png)

This issue is for anyone who wants to participate to develop the new Job Post Form P

[2022-01-04 02:24] angeljgomezc commented on #157
Hey @PBillingsby - I know we still don't have some of the pages listed in the design for `Earning` and `Hiring`, but we still need those.

You told me you weren't working on front-end the next few days - mind if I finish this then?

[2022-01-04 03:00] PBillingsby commented on #157
@angeljgomezc It's all yours!

[2022-01-04 04:35] zhenyangg commented on #190
https://github.com/Developer-DAO/DAO-job-board/pull/191

[2022-01-08 14:27] angeljgomezc commented on #160
closed by #175

[2022-01-08 14:27] #160 closed

[2022-01-10 03:15] memoalv commented on #180
I can help with spanish

[2022-01-10 03:41] PBillingsby commented on #180
@memoalv feel free to work on a branch and push a PR whenever you get access. We can work on having it reviewed after that. @carlomigueldy can we get Guillermo access to Doppler?

[2022-01-10 04:27] carlomigueldy commented on #180
Yes mate for sure, you can invite Guillermo too

[2022-01-13 04:15] PBillingsby opened #204 "Organization/company db and UI"
**Is your feature request related to a problem? Please describe.**

Currently The job board currently has no way to create an organization. A job and profile can only be created/updated by a regular user. Based on recent talks about the job board, @kempsterrrr mentioned providing a job seeker/user with more information on companies posting their jobs.

**Describe the solution**
Create tables, form

[2022-01-14 01:49] angeljgomezc commented on #189
closed by #200

[2022-01-14 01:49] #189 closed

[2022-01-14 01:50] angeljgomezc commented on #157
closed by #191 and #200

[2022-01-14 01:50] #157 closed

[2022-01-18 02:23] angeljgomezc opened #206 "Refactor Create-Profile Component"
The current design on the Create Profile component is outdated. We already have new designs to work on at https://www.figma.com/file/qGlR5rEinlbUgWmbogXunz/Design-System-%2F-Jobs-Board?node-id=173%3A2

CREATE PROFILE FORM
![image](https://user-images.githubusercontent.com/53134194/149858561-774e1e39-4e84-47d4-97cc-e652d6e75f83.png)

This issue is for anyone who wants to participate to develop the

[2022-01-18 02:27] angeljgomezc opened #207 "Refactor Profile Component"
The current design for the Profile Component is outdated. We already have new designs to work on

OLD PROFILE
![image](https://user-images.githubusercontent.com/53134194/149860319-793b01dd-9741-4d09-bf3c-b2f36e965df4.png)

NEW PROFILE
**![image](https://user-images.githubusercontent.com/53134194/150058735-b926955c-3344-478e-8e7f-769a601227df.png)**

This issue is for anyone who wants to participat

[2022-01-19 03:30] Dhaiwat10 commented on #207
I'll get this done

[2022-01-19 03:34] angeljgomezc opened #208 "Refactor Job Post Form"
The current design for the Profile Component is outdated. We already have new designs to work on

OLD FORM
![image](https://user-images.githubusercontent.com/53134194/150059116-99a78902-c410-4e8d-be76-58a35b4c1f7e.png)

NEW FORM
![image](https://user-images.githubusercontent.com/53134194/150059139-ca84b092-1166-4cf0-ac3a-2e674169249f.png)

This issue is for anyone who wants to participate to devel

[2022-01-28 19:23] 7i7o commented on #180
I didn't find the dependent issue or branch for spanish.
I have time this weekend if you need some help translating, don't wanna step over any other asignee.

[2022-01-29 18:39] memoalv commented on #180
I got stuck with some family stuff and haven't had the time to start with the translation
Feel free to start @7i7o

[2022-01-31 17:39] 7i7o opened #213 "Add Spanish translation"
### Overview

Add Spanish translation to job board

### Task

- [ ] Add language directory in `packages/client/public/locales` named by language code: English = `/en`, Spanish = `/es`
- [ ] Add `common.json`
- [ ] Translate values from `packages/client/public/locales/en/common.json` matching the nesting of JSON to your created `common.json`

### Notes

- For now, to test add language code to url t

[2022-01-31 17:40] 7i7o commented on #180
Added Issue for Spanish translation

- [ ] #213

[2022-02-01 21:11] #213 closed

[2022-02-03 14:07] brandonfrulla commented on #208
Hi @angeljgomezc I think I can take this, but I will admit it might take a bit of time (1-2 weeks), but I will be active with updates in the #job-board-project channel

[2022-02-04 20:25] diegoalzate commented on #143
@carlomigueldy @angeljgomezc I think I can take this up. Let me know if this is a priority or if I can help somewhere else 😅

[2022-02-08 22:09] onlymwa commented on #204
Unsure what stack we'd want to use but I created a DB structure diagram of how I would set up the tables and the relationship between them.  I'm familiar with knex.js and objection but only locally, if anyone has any insight on how to use them with dedicated database servers would love to hear back from y'all.

![image](https://user-images.githubusercontent.com/98970232/153083476-91293d99-97b8-41f

[2022-02-08 23:10] #179 closed

[2022-02-12 00:37] PBillingsby opened #215 "Implement Docker for local development"
### Overview
Recent discussions have been brought (@JoviDeCroock) up about allowing non-members of the DAO to contribute to the job board. With the current use of Doppler for secrets, this will be problematic if we have an influx of keen contributors. The suggestion of implementing Docker for local development was brought up by @carlomigueldy.

### Problem
Allowing members and non-members to contr

[2022-02-13 20:15] brandonfrulla commented on #208
Still working away at this. Typescript is harder than I thought

[2022-02-16 14:44] miralsuthar commented on #206
I can work on this, it will take one or two days max.

[2022-02-18 02:22] carlomigueldy commented on #215
How's it going with the setup comrade @daviddale

[2022-02-18 03:00] daviddale commented on #215
Sorry old account was still logged into my phone. Will be working on it this weekend.

[2022-02-18 03:18] carlomigueldy commented on #215
Oh I see, alright sounds good mate looking forward!

Here's a link for your reference, tysm!

https://supabase.com/docs/guides/local-development

[2022-03-14 03:46] #215 closed

[2022-03-30 10:24] kyndaqtepammy commented on #130
I'm actually facing the same issue

[2022-04-08 20:15] AbdUlHamedMaree commented on #130
Me too, sometimes it works, and sometimes it breaks on dev.
But the customer reported that this page is throwing an `Application error` sometimes on production

[2022-04-20 02:43] fifteen42 commented on #206
I can take this in 5 days if there is no one working on this issue yet.

[2022-04-20 02:59] #207 closed

[2022-04-28 10:05] fifteen42 commented on #208
I can work on this. I need 3 days.

[2022-07-09 09:35] mlarcher commented on #130
I have the issue too, but only once in a while. It's hard to figure out the conditions to trigger it, but there'e definitely something fishy in there that should be investigated. I suggest to reopen the issue so that it is kept in sight for the team.

[2022-09-23 10:05] ronaldsutantio-acn commented on #130
I am facing the same issue.
using this version: "next": "12.1.6",
but the error gone when i use async and await method like the following:
`const DynamicHeader = dynamic(async () => await import('../components/header'))`
but sometimes it works and sometimes the component not being rendered, works if i refresh the page.

please investigate this issue.

[2022-09-23 11:43] ronaldsutantio-acn commented on #130
deleting node_modules then reinstall the dependencies doesn't help on my end

[2022-11-18 15:31] ydax commented on #130
Having this issue too